{{define "title"}}{{.Room.Name}}{{end}}

{{define "content"}}
<div class="room-container">
    <h1>{{.Room.Name}}</h1>
    <div class="video-player">
        {{if eq .Video.Type "youtube"}}
            <iframe width="100%" height="500" 
                    src="{{.Video.EmbedURL}}" 
                    frameborder="0" 
                    allowfullscreen>
            </iframe>
        {{else}}
            <p>Video: <a href="{{.Room.VideoURL}}" target="_blank">{{.Room.VideoURL}}</a></p>
        {{end}}
    </div>
</div>
{{end}}